#search {
    width: 100%;
}

#config {
    margin: 30px 0;
}

#config div {
    margin: 10px 0;
}

#contents {
    max-width: 1080px;
    width: 70%;
    text-align: center;
}

#display {
    width: 100%;
    overflow: auto;
}