* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 10px 0;
    text-align: center;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    color: white;
    margin-left: 50px;
}

#header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

#content {
    max-width: 1080px;
    width: 70%;
    text-align: center;
    overflow: hidden;
}

#table-select {
    margin-top: 30px;
}

.collapsible {
    background-color: #dddddd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5px 0;
}

.formm {
    width: 100%;
}

.active, .collapsible:hover {
    filter: brightness(.9);
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#config, #update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-row {
    margin: 15px 20px;
}

#config ul, #update ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#output {
    max-width: 100%;
    overflow: scroll;
}

.data-table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#update {
    margin-bottom: 50px;
}
