* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 10px 0;
    text-align: center;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#config {
    display: flex;
    justify-content: center;
    align-content: space-between;
    max-width: 1080px;
    margin: 30px;
}

#config div {
    margin: 15px 20px;
}

#view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    overflow-x: scroll;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}